
html {
  overflow: hidden;
  /* background-color: #2b4162; */
  /* background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%); */
  /* background: linear-gradient(145deg,#f81f01,#ee076e); */
  background: linear-gradient(to right, #000000 0%, #850000 100%);
  background-repeat: no-repeat;
  height: 100vh;
}


#mainDiv {
  height: 100%;
  width: 100%;
  overflow: hidden;
  visibility: hidden;
}
