h1,
p {
  text-align: center;
}

#mainDiv {
  /* background-color: #000000; */
  /* background-image: linear-gradient(315deg, #000000 7%, #7f8c8d 65%, #000000 93%); */
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #12100e 7%, #2b4162 65%, #12100e 93%);

  padding: 50px;
}
