.main {
    right: 25%;
    top: 34%;
    background-color: chartreuse;
    width: 50%;
    height: 25%;
    position: absolute;
    padding: 10px;
}

.button {
    padding: 4%;
    border-width: 5px;
    border-radius: 45%;
    margin-left: 25px;
    display: inline-block;
}

.submit {
    margin-left: 40%;
    margin-top: 10%;
    background-color: gold;
    width: 20%;
    height: 30px;

}